.img{width: 60%;
    border-radius: 50%;

}
.provider{
    background-color: cadetblue;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
}
.button{
    height: 40px;
    width: 200px;
    background-color:rgb(137, 78, 197);
    border-radius: 20px;
    font-size: 15px;
    color: white;
}